
#maindiv{
    width: 630px;
    height: 630px;
    margin: 30px auto;
    border: solid black;
    background: url("background.jpg") 50% 100%;
    background-size: cover;
    color: white;
}
#acc{
    width:200px;
    margin: 120px auto;
}
.names{
    float: left;
    text-align: center;
}
th{
    width: 200px;
}
#account{
    border: solid 1px black;
}